@media screen and (min-width: 480px) {
    .main-container {
        background-image: url("../../img/main-bg-desktop.png");
        /*height: auto;*/
    }
     .step-title-container.preview{
        min-height: auto;
         justify-content: flex-end;
         align-items: flex-end;
         padding-top: 40px;
         padding-bottom: 40px;

    }
    .step-title-container.preview:before{
        width: 60%;
        left: initial;
        right: 0;
        top: 0;
        height: 100%;
    }
     .step-subtitle{
         width: auto;
     }
    .user-photo-preview {
        width: 50%;
    }
    .thanks-all-preview {
        margin-top: 30vh;
    }
}
@media screen and (min-width: 768px){
    .thanks-all-preview {
        margin-top: 50vh;
    }
    .step-title-container.preview .step-subtitle{
        font-size: 1.25rem;
    }
    .step-title-container.preview .step-title{
        font-size: 2.25rem;
    }
}

@media (max-width:550px){
    .loader{-webkit-transform:scale(0.75);transform:scale(0.75)}
}
@media (max-width:440px){
    .loader{-webkit-transform:scale(0.5);transform:scale(0.5)}
}
