@media screen and (min-width: 480px) {
    .user-photo{
        min-height: 60vh;
    }
     .step-title-container.preview{
         min-height: auto;
         justify-content: flex-end;
         align-items: flex-end;
         padding-top: 80px;
         padding-bottom: 80px;
    }
    .step-title-container.preview:before{
        width: 60%;
        left: initial;
        right: 0;
        top: 0;
        height: 100%;
    }
     .step-subtitle{
         width: auto;
     }
    .pic-container .grid-item{
        width: calc(33.3% - 7px);
    }
}
@media screen and (min-width: 768px){
    .step-title-container.preview .step-subtitle{
        font-size: 1.25rem;
    }
    .step-title-container.preview .step-title{
        font-size: 2.5rem;
    }
    .pic-container .grid-item{
        width: calc(25% - 7px);
    }
}

